.text{
    color:rgb(189, 9, 9);
    font-size: medium;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
    margin-bottom: 30px;
}
.color1{
    color:black;
    font-size: x-large;
    font-family: "Georgia", serif;
    text-align: center;
    font-size: 50px;
    word-spacing:0%;
}

.color2{
    color:rgb(189, 9, 9);
    font-size: x-large;
    font-family: "Georgia", serif;
    font-size: 50px;
    line-height: 0.14;
}

.feel{
    color:rgb(189, 9, 9);
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
}
.head{
    color:black;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 3px; 
}
.p1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;    
}
.p2{
    text-align: center;
    line-height: 0.15;
}
.yes{
    color:rgb(189, 9, 9);
}
.body{
    width: 360px;
    height: 540px;
    border: 1px solid ;
    padding: 30px;
    position: relative;
    box-shadow: 0 10px 20px;
    background-color: rgb(236, 137, 9);
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.letter{
    font-size: 75px;
    font-family: 'Times New Roman', Times, serif;
}

